        .filter-item {
            transition: all 0.3s ease;
        }
        .filter-item.active {
            background-color: var(--primary-color);
            color: white;
            font-weight: 500;
            border: 2px solid var(--primary-color-dark);
        }
        .project-card {
            transition: all 0.3s ease;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
        }
        .project-card:hover {
             0
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
        }
        .project-image img {
            transition: transform 0.5s ease;
        }
        .project-card:hover .project-image img {
             
        }
        .border-custom {
            border-color: var(--primary-color);
        }
        .map-section{
            padding:  50px 0 ;
        }